runtime/*.pid
runtime/*.log
runtime/*.tmp
runtime/update-*
config/version.local.json
config/kazakhstan-proxy.local.json
config/telegram-proxy.local.json
config/language.local.json
runtime/kazakhstan-proxy-*
